<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hook Support Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/modal.css">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hook Support</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
          <button type="button" class="btn btn-secondary btn-sm" id="logout">Kirjaudu ulos</button>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="padding-top: 60px;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                  <button type="button" class="btn btn-info btn-sm" style="margin: 5px 10px 5px" id="raha">Rahatilanne</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-info btn-sm" style="margin: 5px 10px 5px" id="kal">Kalenteri</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-info btn-sm" style="margin: 5px 10px 5px" id="keikat">Tulevat keikat</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-info btn-sm" style="margin: 5px 10px 5px" id="kuvat">Promokuvat</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-info btn-sm" style="margin: 5px 10px 5px" id="pipeline">Pipeline</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-info btn-sm" style="margin: 5px 10px 5px" id="raportit">Raportit</button>
              </li>
            </ul>

            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Asetukset</span></h4>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <button type="button" class="btn btn-light btn-sm" style="margin: 10px 10px 0px" id="profiili">Profiili</button>
                </li>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding: 60px">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>

        <div class="card" id="kalBox" hidden style="width: 840px; margin: 20px 20px 20px 20px;">
            <h5 class="card-header">Kalenteri</h5>
            <div class="card-body">
                    <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FHelsinki&amp;src=YjJjb2RzcjJuc2RsNzR2YnAzaW1hbjZzY2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK" style="border-width:0" width="800" height="300" frameborder="0" scrolling="no"></iframe>
                </div>
        </div>
        </div>

        </main>
      </div>
    </div>

    <!-- The Modal -->
<div id="settings" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <br>
    <h4>Profiili ja asetukset</h4>
      <table style="width:100%">
        <tr>
          <td><strong>ID</strong></td>
          <td>5d8548e19eb95c5539f2c133</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Role</strong></td>
          <td id="role"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Nimi</strong></td>
          <td id="nimi"></td>
          <td>
            <form id="form1">
              <input placeholder="Kirjoita uusi nimi" id="uusiNimi">
              <button>Päivitä</button>
            </form>
          </td>
          <td>Possible Error message</td>
        </tr>
        <tr>
          <td><strong>Sähköposti</strong></td>
          <td id="email"></td>
          <td>
            <form id="form2">
              <input placeholder="Kirjoita uusi sähköposti" id="uusiEmail">
              <button>Päivitä</button>
            </form>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Salasana</strong></td>
          <td></td>
          <td>
            <form id="form3">
              <input placeholder="Kirjoita uusi salasana" id="uusiSalasana">
              <button>Vaihda</button>
            </form>
          </td>
          <td></td>
        </tr>
      </table>
      <br>
      <img src="/img/sasu.png" style="width: 100px; border-radius: 50px">
  </div>

</div>

    <!-- OMA KOODI -->
    <script src="/js/board.js"></script>
    <script src="/js/settingsmodal.js"></script>

    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+358456925295", // WhatsApp number
                call_to_action: "Laita viesti Supportille", // Call to action
                position: "right", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /WhatsHelp.io widget -->

  </body>
</html>
