<div class="card-deck" style="padding: 20px 20px 20px 20px; max-width: 600px">
    <div class="card" id="kalBox" hidden style="margin-bottom: 20px">
    <h5 class="card-header">Kalenteri</h5>
        <div class="card-body">
            <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FHelsinki&amp;src=YjJjb2RzcjJuc2RsNzR2YnAzaW1hbjZzY2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK" style="border-width:0" width="800" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <div class="card" id="rahaBox" hidden style="margin-bottom: 20px">
    <h5 class="card-header">Rahatilanteesi</h5>
        <div class="card-body">
        <h5 class="card-title">Rahatilanteesi</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Katso seuranta</a>
        </div>
    </div>
    <div class="card" id="keikatBox" hidden style="margin-bottom: 20px">
    <h5 class="card-header">Tulevat keikat</h5>
        <div class="card-body">
        <h5 class="card-title">Tässä nämä</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" id="kuvatBox" hidden style="margin-bottom: 20px">
    <h5 class="card-header">Kuvat</h5>
        <div class="card-body">
        <h5 class="card-title">Tässä nämä</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" id="pipeBox" hidden style="margin-bottom: 20px">
    <h5 class="card-header">Pipeline</h5>
        <div class="card-body">
        <h5 class="card-title">Tässä nämä</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>