          <!-- KUVAT FLEXBOX -->
          <div class="item-hl p-0 m-2 rounded collapse" id="kuvat" style="border:1px solid #333;">
            <div class="card border-0">
              <div class="card-header">Kuvat</div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li class="media mb-2">
                      <img class="mr-3" src="https://source.unsplash.com/random/60x60">
                      <div class="media-body">
                          <h5>Promokuva 1</h5>
                          <p class="small">Oikeudet Sasu Paakkunainen</p>
                      </div>
                  </li>
                  <li class="media mb-2">
                      <img class="mr-3" src="https://source.unsplash.com/random/60x60">
                      <div class="media-body">
                          <h5>Promokuva 2</h5>
                          <p class="small">Oikeudet Sasu Paakkunainen</p>
                      </div>
                  </li>
                  <li class="media mb-2">
                      <img class="mr-3" src="https://source.unsplash.com/random/60x60">
                      <div class="media-body">
                          <h5>Promokuva 3</h5>
                          <p class="small">Oikeudet Sasu Paakkunainen</p>
                      </div>
                  </li>
                </ul>
                <button class="btn btn-info mt-2" type="button">Kaikki kuvat</button>
              </div>
            </div>
          </div>

          <!-- TALOUS BOX -->
          <div class="item-hl p-0 m-2 rounded collapse" id="talous" style="border:1px solid #333;">
            <div class="card border-0">
              <div class="card-header">Talous</div>
              <div class="card-body pt-0">
                <table class="table table-hover p-0">
                  <thead>
                    <th>Nimike</th>
                    <th>EUR</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ansiotulo firmasta</td>
                      <td>25,000.00</td>
                    </tr>
                    <tr>
                      <td>Muut ansiotulot</td>
                      <td>10,000.00</td>
                    </tr>
                    <tr class="table-success">
                      <td>Ansiotulot yhteensä</td>
                      <td>35,000.00</td>
                    </tr>
                    <tr>
                      <td>Arvioitu tulos</td>
                      <td>40,000.00</td>
                    </tr>
                    <tr>
                      <td>Nostettava osinko</td>
                      <td>5,000.00</td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-info" type="button">Seurantaan</button>
              </div>
            </div>
          </div>

          <!-- JOKU TOINEN FLEX-BOX -->
          <div class="p-2 item-hl m-2 d-none" style="border:1px solid #333;">
            <p>Tähän tulee kalenteri jossa on hiton pitkä</p>
          </div>

          <!-- JOKU TOINEN FLEX-BOX -->
          <div class="p-2 item-hl m-2 d-none" style="border:1px solid #333;">
            <p>Tähän tulee kalenteri</p>
          </div>