<div class="card" id="kalBox" hidden style="width: 840px; margin: 20px 20px 20px 20px;">
  <h5 class="card-header">Kalenteri</h5>
    <div class="card-body">
        <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FHelsinki&amp;src=YjJjb2RzcjJuc2RsNzR2YnAzaW1hbjZzY2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK" style="border-width:0" width="800" height="300" frameborder="0" scrolling="no"></iframe>
    </div>
</div>