<div class="card" id="kalenteri" hidden style="margin-bottom: 20px">
  <h5 class="card-header">Kalenteri</h5>
    <div class="card-body">
      <h5 class="card-title">Kalenterisi</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>