<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 pb-1">
  <div class="container">
    <a href="index.html" class="navbar-brand">Hook Support</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav ml-auto">
        <!-- VIEW DROPDOWN -->
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-eye"></i> Näkymät
          </a>
          <div class="dropdown-menu">
            <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#kalenteri" role="button"
              aria-expanded="false" aria-controls="kalenteri">
              Kalenteri
            </a>
            <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#talous" role="button"
              aria-expanded="false" aria-controls="talous">
              Talous
            </a>
            <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#keikat" role="button"
              aria-expanded="false" aria-controls="keikat">
              Keikat
            </a>
            <!-- NÄITÄ ELEMENTTEJÄ LISÄÄ SITÄ MUKAA KUN FEATUREJA TULEE LISÄÄ...
              <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#tyoryhma" role="button" aria-expanded="false" aria-controls="tyoryhma">
                Työryhmä
              </a>
              <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#kuvat" role="button" aria-expanded="false" aria-controls="kuvat">
                Kuvat
              </a>
              <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#pipeline" role="button" aria-expanded="false" aria-controls="pipeline">
                Pipeline
              </a>
              <a class="btn btn-primary dropdown-item" data-toggle="collapse" href="#raportit" role="button" aria-expanded="false" aria-controls="raportit">
                Raportit
              </a>
              -->
          </div>
        </li>
        <!-- CUSTOMER DROPDOWN -->
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-address-card"></i> Asiakas
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">
              Testi Mikko
            </a>
            <a href="#" class="dropdown-item">
              Roope Salminen
            </a>
            <a href="#" class="dropdown-item">
              Ernest Lawson
            </a>
            <a href="#" class="dropdown-item">
              Christoffer Standberg
            </a>
            <a href="#" class="dropdown-item">
              Shirly Karvinen
            </a>
            <a href="#" class="dropdown-item">
              Mikko Kuoppala
            </a>
          </div>
        </li>
        <!-- USER DROPDOWN -->
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user"></i> Welcome Ossi
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#profileModal">
              <i class="fas fa-user-circle"></i> Profile
            </a>
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#settingsModal">
              <i class="fas fa-cog"></i> Settings
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" id="logout" class="nav-link">
            <i class="fas fa-user-times"></i> Logout
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- BREADCRUMB -->
<header id="main-header" class="py-2 bg-primary text-white shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>
          <i class="fas fa-cog"></i> Testi Mikko</h4>
      </div>
    </div>
  </div>
</header>