<div class="card-deck" style="padding: 20px 20px 20px 20px; max-width: 600px;">
    <div class="card">
      <h5 class="card-header">Rahaboxi</h5>
      <div class="card-body">
        <h5 class="card-title">Rahatilanteesi</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>