      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4" style="border:1px solid #fff">
        <div class="input-group mb-3">
          <input class="form-control" type="text" placeholder="Add a new reminder...">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Add</button>
            </div>
        </div>
        <table id="reminderTable" class="table table-hover">
          <thead>
            <th>Reminders <span class="badge badge-danger" id="reminderBadge"></span></th>
            <th>Done</th>
          </thead>
          <tbody class="small">
            <tr>
            </tr>
          </tbody>
        </table>
      </div>