<!-- The Modal -->
<div id="settings" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <br>
    <h4>Profiili ja asetukset</h4>
      <table style="width:100%">
        <tr>
          <td><strong>ID</strong></td>
          <td>5d8548e19eb95c5539f2c133</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Role</strong></td>
          <td id="role"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Nimi</strong></td>
          <td id="nimi"></td>
          <td>
            <form id="form1">
              <input placeholder="Kirjoita uusi nimi" id="uusiNimi">
              <button>Päivitä</button> <span style="color: red;">Possible Error message</span>
            </form>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Sähköposti</strong></td>
          <td id="email"></td>
          <td>
            <form id="form2">
              <input placeholder="Kirjoita uusi sähköposti" id="uusiEmail">
              <button>Päivitä</button> <span style="color: red;">Possible Error message</span>
            </form>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Salasana</strong></td>
          <td></td>
          <td>
            <form id="form3">
              <input placeholder="Kirjoita uusi salasana" id="uusiSalasana">
              <button>Vaihda</button> <span style="color: red;">Possible Error message</span>
            </form>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Authorize Google</strong></td>
          <td><button id="authorize_button" style="display: none;">Authorize</button> <button id="signout_button" style="display: none;">Sign Out</button></td>
          <td><div id="auth-status" style="display: inline;"></div></td>
          <td></td>
        </tr>
      </table>
      <br>
      <img src="/img/sasu.png" style="width: 100px; border-radius: 50px">
  </div>

</div>